@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #48c43c;
  --primary-dark: #399d30;
  --secondary: #c980ff;
  --secondary-light: #f4e5ff;
  --secondary-bg: #fbf5ff;
  --text-color: #333333;
  --accent-color: #80e3ff;
  --inputbg-color: #ffffff;
  --inputbg-color-dark: #111111;
  --error-color: #ff0000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: #48c43c;
    --primary-dark: #399d30;
    --secondary: #c980ff;
    --secondary-light: #f4e5ff;
    --secondary-bg: #fbf5ff;
    --text-color: #333333;
    --accent-color: #80e3ff;
    --inputbg-color: #ffffff;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply dark:bg-[#0a0a0a] dark:text-[#ededed] bg-[#f5f5f5] text-[#171717];
  }
}
